canvas{
    border:4px solid gold;
    width:1000px;
    height:500px;
    padding-left:0;
    padding-right: 0;
    margin-left: auto;
    margin-right:auto;
    display: block;
    position:absolute;
    

        
}
.gamecont{
    width: 100%;
    height: 100%;
    position:absolute;
    
}
#muray{
    position:absolute;
     z-index:99;
     height:100px;
     width:200px;
     animation:swim 10s infinite;  
}
@keyframes swim{
    0%{top:0%;
       transform:rotate(0deg);
       left:0%;

    }
    25%{top:0%;
       transform:rotate(0deg);

        left:70%;
    }
    50%{top:40000%;
       transform:rotate(0deg);

        left:70%;
    }
    75%{top:40000%;
       transform:rotate(20000deg);

        left:1%;
    }
    100%{
         bottom:0;
         
         top:70%;

         
    }
}
.container{
    position:relative;
}
#weed{
     position:absolute;
     bottom:-58000%;
     z-index:99;
     height:300px;
     width:200px;
}