body{
    background-color: lawngreen;
}
@media (max-width: 480px) {
    body {
        background-color: yellow;
    }
    #main{
        font-size: 2em;
    }
    #pics{
        width: 100%;
        height:auto;

    }
    #pics img{
        width:100%;
        margin: 4px;
    }
}
