div{
    height:200px;
    width:250px;
    background-color:hotpink;
    position:absolute;
    top:40%;
    left:40%;
    font-size:4em;
    overflow:hidden;
    transition-duration:2s;
    
}
div:hover{
    position:absolute;
    top:40%;
    left:50%;
    transform:rotate(10deg);
    height:300px;
    width:350px;
    
}
