li{
    display:inline;
    
}
nav{
    background-color:black;
    display:flex;
    justify-content:center;
}
@media (max-width: 768px){
    body{
        background-color: red;
        margin:0;
    }
     #pics{
        width: 100%;
        height:auto;

    }
    #pics img{
        width:100%;
        margin: 4px;
    }
    li{
        display:inline;
    }
}